@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 300px);
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
